version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: url-shortener-api
    volumes:
      - ../:/workspace:cached

    ports:
      - "3000:3000"
    command: sleep infinity
    networks:
      - url-shortener-network

networks:
  url-shortener-network:
    driver: bridge
